click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
Flask==1.1.4
Flask-SQLAlchemy==2.5.1
gunicorn==19.10.0
importlib-metadata==2.1.1
itsdangerous==1.1.0
jinja-kit==0.0.16
Jinja2==2.6
MarkupSafe==1.1.1
pathlib2==2.3.6
psycopg2-binary==2.8.6
python-dotenv==0.18.0
scandir==1.10.0
six==1.16.0
SQLAlchemy==1.4.22
typing==3.10.0.0
Werkzeug==1.0.1
zipp==1.2.0
